In [ ]:
import pandas as pd
import numpy as np
pd.__version__

# Understanding Pandas Indexes, Access, and Joins

![Atlanta_Zoo_Panda](320px-Atlanta_Zoo_Panda.jpg)

Carl Kadie

## Introduction

The Python Pandas library is a great tool for data manipulation. However, it is only efficient if you understand Pandas indexing. Pandas Indexing is the key to accessing & joining rows in seconds instead of minute or hours.

The Pandas documentation says that indexes are like mathematical sets. We'll see in this notebook; however, they are not like mathematical sets! Indexes are, instead, a kind of list. This notebook will show that, with this insight, you can understand and be productive with Pandas indexing.

This notebook will cover:

*Background*

* Pandas
* Accessing Rows & Columns

*Indexes* 

* Understanding Indexes
* Creating Indexes
* Multi-Level Indexes
* Index Trick: Inputing an index into other function.
* Joining
* Grouping and Sorting
* Deleting Rows

## Pandas

__[Pandas](https://pandas.pydata.org/)__ is one of the most popular __[Python](https://docs.python.org/3/)__ libraries. You can think of Pandas as an in-memory database. Alternatively, you can think of it as a spreadsheet that, instead of having a graphical user interface, is controlled via Python. Like a database or spreadsheet, Pandas organizes data in rows and columns. It easily works with one million rows. Indeed, if you have enough memory, it can work with 100 million rows.

## Row Access

Pandas provides three main ways to access rows. We'll summerize them and then look at examples.


* ``.iloc[...]`` -- for position-based access (that is, accessing by row number)
    * Inputs: Integer, list of integers, slice of integers, (also, bool array or function)
    * Outputs: single-value inputs return a series, list-like inputs returns a dataframe
    * Note this uses square brackets. If you use round parentheses, you'll get a confusing error message.
* ``.loc[...]`` -- for label-based access (that is, via a string or other hashable value). Inputs:
    * Single label
    * List of labels
    * Slice of labels (unlike rest of Python, includes stop)
    * (also, bool array or function)
* ``[...]`` is ambiguous (may be position based or label based)
    * Always one input
    * Accepts a column name or a list of columns
    * Slicing (or bool array) selects rows

Let's create an example dataframe.

In [107]:
df = pd.DataFrame([['a',2,True],
                   ['b',3,False],
                   ['c',1,False]],columns=['alpha','num','class'])
df

  alpha  num  class
0     a    2   True
1     b    3  False
2     c    1  False

Now, we access it using ``.iloc`` and the integer ``0``, meaning that we want the row in position 0. *Note the square brackets, not parentheses*. Because we passed it a value, it returns a series representing the first row.

In [108]:
df.iloc[0]

alpha       a
num         2
class    True
Name: 0, dtype: object

Next, we pass it a list of integers telling which row positions we want. It returns a dataframe.

In [109]:
df.iloc[[0,2]]

  alpha  num  class
0     a    2   True
2     c    1  False

We can use Python's slice notation to ask from rows from position 0 to position 2 (but not including 2).

In [110]:
df.iloc[0:2]

  alpha  num  class
0     a    2   True
1     b    3  False

We can turn the column named ``alpha`` into an index named ``alpha``. (We'll talk more about creating indexes, later.)

In [111]:
df.set_index(['alpha'],inplace=True)
df

       num  class
alpha
a        2   True
b        3  False
c        1  False

With this is index, we can use ``.loc[]`` to access the row with label ``b``.

In [112]:
df.loc['b'] # returns row 'b' as a series

num          3
class    False
Name: b, dtype: object

By giving ``.loc[]`` a list of labels, we can access a set of rows. The result is returned as a new dataframe.

In [114]:
print(df)
df.loc[['b','a']] # returns rows 'b' and 'a' as a dataframe

       num  class
alpha
a        2   True
b        3  False
c        1  False

       num  class
alpha
b        3  False
a        2   True

We can also use Python slice notation to access from ``a`` to ``b``. Surprisingly, an unlike the usual Python convention, the result includes the ``b`` row.

In [115]:
df.loc['a':'b']

       num  class
alpha
a        2   True
b        3  False

If we leave off the ``.iloc`` or ``.loc``, we can only access rows via slicing (or via a bool array). Here we slice by label:

In [119]:
df['a':'b']

       num  class
alpha
a        2   True
b        3  False

We can slice by position number.

In [122]:
df[0:2]

       num  class
alpha
a        2   True
b        3  False

## Column Access

Pandas provides four main ways to access columns. We'll summarize them here and then look at examples.

Column Access:

* Add a second position input to ``.iloc``
* Add a second label input to ``.loc`` (the labels in this context will be the columns names)
* Give a string or list of strings to ``[]``
* (if unambiguous) use ``.COLNAME``

Here is our example dataframe from above.

In [123]:
df

       num  class
alpha
a        2   True
b        3  False
c        1  False

We tell it that we want the rows at position 0 and 2 *and* the columns at position 1 and 0 (in that order).

In [124]:
df.iloc[[0,2],[1,0]]

       class  num
alpha
a       True    2
c      False    1

Here is how we tell it we want all rows *and* the columns at position 1 and 0. (``:`` is Python slice notation for 'all.')

In [125]:
df.iloc[:,[1,0]]

       class  num
alpha
a       True    2
b      False    3
c      False    1

Using single integers with ``.iloc``, returns a single value, in this case, the number at row position 0 and column position 0.

In [126]:
print(df)
df.iloc[0,0]

       num  class
alpha
a        2   True
b        3  False
c        1  False

2

Switching to ``.loc``, we can give it lists of labels as input.

In [129]:
df.loc[['c','a'],['class','num']]

       class  num
alpha
c      False    1
a       True    2

If we give a single label for the row and the name of a single column, we'll get a single value, in this case, a number.

In [130]:
df.loc['c','num']

1

We can use ``:`` to get all rows and selected columns.

In [131]:
df.loc[:,['num']]

       num
alpha
a        2
b        3
c        1

If we leave of the ``.iloc`` and ``.loc`` and just use bare ``[]``, a list of labels will be assumed to be column names.

In [132]:
df[['class','num']]

       class  num
alpha
a       True    2
b      False    3
c      False    1

A single input string will return a column as a series.

In [133]:
df['num']

alpha
a    2
b    3
c    1
Name: num, dtype: int64

Where there is no conflicting methods or properties, we can access a column with '.COLNAME'.

In [134]:
df.num # Same as df['num']

alpha
a    2
b    3
c    1
Name: num, dtype: int64

What if you want to access rows by their _position_ and _columns_ by their label? You have to do it in two steps.

In [138]:
#These three lines all do the same thing.
step1 = df.iloc[0:2];step1[['class']]
(df.iloc[0:2])[['class']]
df.iloc[0:2][['class']]

       class
alpha
a       True
b      False

## Understanding Indexes

Indexes let us efficiently access rows by label. But how should we think of them? The Pandas documentation says an index is

> Immutable ndarray implementing an ordered, sliceable __set__ (*emphasis added*)

Recall that in mathematics a __set__ has these two important properties:

* No repeated elements
* Elements are unordered

But, as we'll see presently, a Pandas index these two properties:

* Elements may be repeated
* Elements are ordered

In other words, contrary to the Pandas documentation, an Pandas index is not a mathematical set. Instead, it is a kind of __list__. Specifically, an index is

* A (kind of) list of hashable elements, where
* the position(s) of element(s) can be found quickly.

Keep this in mind while we next look a creating and using Pandas indexes.

## Creating Indexes

Here is a summary of the methods and properties used to create indexes. The list is followed by examples.

* ``.set_index(...)`` -- turn column(s) into index(s)
* ``.reset_index(...)`` -- turn index(s) into column(s)
* ``.index`` -- see the index
* ``.index.values`` -- the elements of an index, in order.
* ``.index.get_loc(...)`` -- given a label, return its position(s)
* ``.index.names`` -- the name(s) of an index.

Let's first create dataframe ``df0``. It starts with no index, except the default, nameless one.

In [139]:
df0 = pd.DataFrame([['x',2,True],
                   ['y',3,False],
                   ['x',1,False]],columns=['alpha','num','class'])
df0

  alpha  num  class
0     x    2   True
1     y    3  False
2     x    1  False

We can ask to see the index. It doesn't tell us much, but we know this is some data structure that represents a list of elements where the position of elements can be quickly found.

In [140]:
df0.index

RangeIndex(start=0, stop=3, step=1)

We can ask to see the elements of the index, in order.

In [141]:
df0.index.values

array([0, 1, 2], dtype=int64)

Here is how we convert column ``alpha`` into index ``alpha``. Note that ``x`` appears twice. That is OK. (In this example, we create a new dataframe. Alternatively, we could have used ``inplace=True`` to change the original dataframe.)

In [143]:
print('df0:')
print(df0)
df1 = df0.set_index(['alpha'])
df1

df0:
  alpha  num  class
0     x    2   True
1     y    3  False
2     x    1  False

       num  class
alpha
x        2   True
y        3  False
x        1  False

Now if we ask to see the index we get different datastructure. It still represents a list of elements whose positions can quickly be found.

In [144]:
df1.index

Index(['x', 'y', 'x'], dtype='object', name='alpha')

We can ask to see the elements of the index, in order.

In [145]:
df1.index.values

array(['x', 'y', 'x'], dtype=object)

We can ask to see the position of ``y`` in the index.

In [146]:
print(df1)
df1.index.get_loc('y')

       num  class
alpha
x        2   True
y        3  False
x        1  False

1

If we ask to see the positions of ``x`` in the index, it returns a bool array. That is its way to tell us the two positions that contain ``x``.

In [147]:
df1.index.get_loc('x')

array([ True, False,  True])

Just as we turned a column into an index, we can turn an index into a column. All these lines do the same thing.

In [148]:
#All four do the same
df1.reset_index(['alpha'])
df1.reset_index('alpha')
df1.reset_index()
df1.reset_index(level=0)

  alpha  num  class
0     x    2   True
1     y    3  False
2     x    1  False

We can use the ``.index.names`` property to see and set index's names.

In [149]:
print(df1)
df1.index.names

       num  class
alpha
x        2   True
y        3  False
x        1  False

FrozenList(['alpha'])

In [150]:
df1.index.names = ['new_index_name']
df1

                num  class
new_index_name
x                 2   True
y                 3  False
x                 1  False

Although indexes are not required to have names, I strongly recommend that you always give them names.

## Multi-Level Indexes

Indexes can have multiple levels. Here is a summary of the main methods and properties for this. It will be followed by examples.

* ``.set_index(``*list_of_columns_names*``)`` -- turn multiple columns into an index
* ``.index.values`` -- the pairs (or, more generally, tuples) of labels that make up the index
* ``.reset_index(``*index_name, list_of_index_names or level*``)`` -- turned the named parts of the index back to columns.
* ``.loc[``*tuple_of_labels*``]`` or left part of tuple -- the rows with these labels

To create a multi-level index, use ``.set_index`` followed by a list of column names. The columns will be turned into a multi-level index.

In [151]:
df0 = pd.DataFrame([['x',2,True],
                   ['y',3,False],
                   ['x',1,False]],columns=['alpha','num','class']
    )
df2 = df0.set_index(['alpha','num'])
df2

           class
alpha num
x     2     True
y     3    False
x     1    False

You can list the pairs (or, more generally, tuples) of labels that make up the index.

In [152]:
df2.index.values

array([('x', 2), ('y', 3), ('x', 1)], dtype=object)

Your can turn part (or all) of an index back into a column. The lines below all do the same thing, namely remove part of the multi-level index and return a new dataframe.

In [153]:
#all these are the same
df2.reset_index(['num'])
df2.reset_index('num')
df2.reset_index(level=1)

       num  class
alpha
x        2   True
y        3  False
x        1  False

The lines above returned a new dataframe, so ``df2`` remains unchanged. (If you wanted to change ``df2`` you could add ``inplace=True``.)

In [154]:
df2

           class
alpha num
x     2     True
y     3    False
x     1    False

You can append to an index.

In [155]:
df2.set_index('class',append=True)

Empty DataFrame
Columns: []
Index: [(x, 2, True), (y, 3, False), (x, 1, False)]

Again ``df2`` didn't change. We can access rows by giving a tuple of values that make up a label.

In [157]:
print(df2)
df2.loc[[('x',2)]]

           class
alpha num
x     2     True
y     3    False
x     1    False

           class
alpha num
x     2     True

I was suprised to discover that you can also just give the left part of a tuple.

In [158]:
# These lines are the same
df2.loc[[('x')]]
df2.loc[['x']]

           class
alpha num
x     2     True
      1    False

## Index Trick: Giving an Index to ``.loc`` and set operations

Recall that
* the ``.loc`` method can take a list of labels
* an index *is* a list of labels

So, a ``.loc`` can take an index as input. (The index can even be from another dataframe.)

Also, even though indexes are not mathematical sets, Pandas does define some set-inspired operators on them.

Here are some interesting methods and operators on indexes related to this. After the list, we'll look at examples.
   * ``unique`` -- remove duplicate labels
   * ``union`` (``&``) -- set union
   * ``intersection`` (``|``) -- set intersection
   * ``difference`` (``-``) -- set difference
   * ``symmetric_difference`` (``^``) -- set symmetric difference
   
To see this in action, let's create a new example dataframe.

In [159]:
df0 = pd.DataFrame([['x',2,True],
                   ['y',3,False],
                   ['x',1,False]],columns=['alpha','num','class'])
df_num = df0.set_index(['num'])
df_num

    alpha  class
num
2       x   True
3       y  False
1       x  False

As expected, if we feed a dataframe's index into that dataframe's ``.loc`` method, we get an identical dataframe back.

In [161]:
print(df_num.index)
df_num.loc[df_num.index]

Int64Index([2, 3, 1], dtype='int64', name='num')

    alpha  class
num
2       x   True
3       y  False
1       x  False

But what happens if give ``.loc`` an index with repeated values. First, here is dataframe with such an index.

In [162]:
df_alpha = df0.set_index(['alpha'])
df_alpha

       num  class
alpha
x        2   True
y        3  False
x        1  False

Next, we feed the dataframe's index into the dataframe's ``.loc`` ...

In [164]:
print(df_alpha.index)
df_alpha.loc[df_alpha.index]

Index(['x', 'y', 'x'], dtype='object', name='alpha')

       num  class
alpha
x        2   True
x        1  False
y        3  False
x        2   True
x        1  False

We get a dataframe with duplicates of the duplicates! (Here is what happened. First, it asked for the row(s) indexed by label ``x``. That returned two rows. Then it asked for the row(s) indexed by label ``y``. That return one row. Then it asked for the row(s) indexed by label ``x`` again. And, again, that returned two rows.)

We can use the ``.unique()`` method to return a list of labels without duplicates.

In [166]:
print(df_alpha.index.unique())
df_alpha.loc[df_alpha.index.unique()]

Index(['x', 'y'], dtype='object', name='alpha')

       num  class
alpha
x        2   True
x        1  False
y        3  False

Here is an example of applying a set-inspired method. In this case, we take the intersection of the index and the list ``['y','z']``. The result is an index containing just ``y``. When we give this to the ``.loc`` method, the result is a dataframe containing just the ``y`` row.

In [169]:
print(df_alpha.index)
print(df_alpha.index.intersection(['y','z']))
# These lines are the same
df_alpha.loc[df_alpha.index.intersection(['y','z'])]
df_alpha.loc[df_alpha.index & ['y','z']]

Index(['x', 'y', 'x'], dtype='object', name='alpha')
Index(['y'], dtype='object')

       num  class
alpha
y        3  False

## Joining

Join two dataframes with ``.join``.
* The left dataframe does not need to be indexed, but the right one does
* In the ``on``, put the name of the left column(s) of interest.

In this example, we use ``join`` to add a score to a dataframe based on column ``alpha``. Here is the left dataframe. It isn't indexed.

In [170]:
df_left = pd.DataFrame([['x',2,True],
                   ['y',3,False],
                   ['x',1,False]],columns=['alpha','num','class'])
df_left

  alpha  num  class
0     x    2   True
1     y    3  False
2     x    1  False

The right dataframe needs an index, but index can be named anything. Here we call it ``alpha2``.

In [171]:
df_right = pd.DataFrame([['x',.99],
                        ['b',.88],
                        ['z',.66]],columns=['alpha2','score'])
df_right.set_index(['alpha2'],inplace=True)
df_right

        score
alpha2
x        0.99
b        0.88
z        0.66

We combine the two dataframes with a left join. We use column ``alpha`` from the first dataframe and whatever is indexed in the second data frame. The result is a new dataframe with a score column.

In [172]:
df_left.join(df_right,on=['alpha'],how='left')

  alpha  num  class  score
0     x    2   True   0.99
1     y    3  False    NaN
2     x    1  False   0.99

## Grouping and Sorting

You might think that the ``.groupby`` and ``.sort_values`` methods would be faster with index. In fact, however, they can be thought of as providing their own indexing and, thus, don't need any indexing help from us.

Let see this by first creating a dataframe with 1,000,000 rows and 4 columns. Each column contains a random number from 0 to 9 (inclusive).

In [175]:
import numpy as np
random_state = np.random.RandomState(seed=92933) #Create a random state with a known seed
df_mil = pd.DataFrame(random_state.randint(0,10,size=(1*1000*1000, 4)), columns=list('ABCD'))
df_mil.tail() #Display the last rows

        A  B  C  D
999995  5  2  9  3
999996  9  3  7  5
999997  4  1  2  0
999998  5  2  0  9
999999  5  9  8  9

The ``.groupby`` method has many sub-methods. Let's look at just one: ``.groupby(...).size()``. We can use this to give us a count of the rows where A=0 and B=0, then where A=0 and B=1, etc.

In [176]:
df_mil.groupby(['A','B']).size().iloc[:15] #.iloc[:15] Display the first 15 rows

A  B
0  0     9986
   1    10029
   2    10090
   3    10022
   4    10187
   5     9803
   6     9822
   7    10047
   8     9944
   9     9882
1  0    10099
   1    10029
   2     9939
   3    10139
   4     9985
dtype: int64

 Notice that we didn't pre-index the dataframe. Even without a dataframe, however, ``.groupby(...).size()`` runs quickly. Also, interestingly, it creates a result that is indexed.

Sorting is also fast, even without an index.

In [177]:
df_mil.sort_values(['A','B']).tail() #.tail() shows the last rows of the result

        A  B  C  D
999733  9  9  6  6
999774  9  9  6  2
999933  9  9  8  5
999947  9  9  8  7
999952  9  9  6  8

But what if want to sort indexes? As an example, consider this dataframe with 1 million rows, 4 columns, and random values from 0 to 9999. It is indexed on ``A`` and ``B``.

In [178]:
random_state = np.random.RandomState(seed=2) #Create a random state with a known seed
df_mil2 = pd.DataFrame(random_state.randint(0,1000,size=(1*1000*1000, 4)), columns=list('ABCD')).set_index(['A','B'])
df_mil2.iloc[:5] #Show first 5 rows

           C    D
A   B
168 527  493  584
534 299  466   75
360 263  674  433
607 587  725   47
831 287  730  404

With Pandas version 0.19.0, we must first turn the indexes into columns, sort, and then restore the indexes. Like this:
 
    df_mil2s = df_mil2.reset_index().sort_values(['A','B','C','D']).set_index(['A','B'])
    df_mil2s.head(10) #Display the first rows
       
With Pandas version 0.23.0, we can sort indexes and columns together. Like this:

In [179]:
df_mil2.sort_values(['A','B','C','D']).iloc[:5] #Show first 5 rows

       C    D
A B
0 0  248  164
  0  685  738
  0  808  678
  0  995  501
  2  636  851

## Deleting Rows

As our final topic, let's look at deleting rows via a list of labels.

We actually already have all the tools needed to do this, so you can treat this as a challenge problem. Before stating the challenge problem, let's create the inputs. Dataframe ``df_mil3`` has a million rows and is indexed.

In [192]:
random_state = np.random.RandomState(seed=2) #Create a random state with a known seed
df_mil3 = pd.DataFrame(random_state.randint(0,1000,size=(1*1000*1000, 4)), columns=list('ABCD')).sort_values(['A','B','C','D']).set_index(['A','B'])
df_mil3.head() #Display the first rows

       C    D
A B
0 0  248  164
  0  685  738
  0  808  678
  0  995  501
  2  636  851

 Dataframe ``df_delete`` has 300,000 rows and is also indexed.

In [181]:
random_state = np.random.RandomState(seed=4183) #Create a random state with a known seed
df_delete = pd.DataFrame(random_state.randint(0,1000,size=(300*1000, 2)), columns=list('AB')).sort_values(['A','B']).set_index(['A','B'])
df_delete.head() # Display first rows

Empty DataFrame
Columns: []
Index: [(0, 0), (0, 1), (0, 4), (0, 6), (0, 8)]

*Challenge Problem* : Create a new dataframe where rows labeled in ``df_delete`` are deleted from ``df_mil3``. For example,

* A=0,B=0 is in ``df_delete``, so all the four A=0,B=0 rows in ``df_mil3`` should be removed.
* A=0,B=1 is in ``df_delete``, but not in ``df_mil3``, so no action is needed.
* A=0,B=2 is *not* in ``df_delete`` and is in ``df_mil3``, so those rows should remain in ``df_mil3``.

Think about this challenge problem yourself, if you like. When you're ready, keep reading for three solutions.

#### Solution #1

First, we use the set-like index method ``.difference`` to create ``keep_index``, an index of the labels we want to keep.

In [184]:
keep_index = df_mil3.index.difference(df_delete.index)
keep_index.values[:10] #Display the first 10 labels that we want to keep

array([(0, 2), (0, 3), (0, 7), (0, 10), (0, 11), (0, 12), (0, 14),
       (0, 18), (0, 19), (0, 22)], dtype=object)

 Then, we give ``keep_index`` to ``.loc`` to access the desired rows.

In [185]:
df_mil3.loc[keep_index].head() #Display only the first rows of the result

       C    D
A B
0 2  636  851
  3   77  661
  3  734  576
  7  565  266
  7  859  382

#### Solution \#2

First, use Python's ``set`` class and ``sorted`` function to create a list of labels we want to keep.

In [186]:
keep_label_list = sorted(set(df_mil3.index) - set(df_delete.index))
keep_label_list[:10] #Display only the first 10 labels that we want to keep

[(0, 2),
 (0, 3),
 (0, 7),
 (0, 10),
 (0, 11),
 (0, 12),
 (0, 14),
 (0, 18),
 (0, 19),
 (0, 22)]

 Then, again, use ``.loc`` to access those rows.

In [187]:
df_mil3.loc[keep_label_list].head() #Display only the first rows of the result

       C    D
A B
0 2  636  851
  3   77  661
  3  734  576
  7  565  266
  7  859  382

#### Method \#3

First, create a list of the labels to drop, using the index intersection operator, ``&``.

In [188]:
drop_index = df_mil3.index & df_delete.index
drop_index.values[:10] #Display just the first 10 labels that we want to drop

array([(342, 418), (697, 145), (381, 392), (5, 178), (775, 338),
       (337, 866), (164, 789), (627, 321), (25, 701), (228, 412)],
      dtype=object)

Then, apply the (not previouslly mentioned) built-in ``.drop`` method.

In [189]:
df_mil3.drop(drop_index).head() #Display the the first rows of the result

       C    D
A B
0 2  636  851
  3   77  661
  3  734  576
  7  565  266
  7  859  382

We can draw two lessons from there being three solution methods. First, we've learned enough to solve many problems without learning new functions. Second, in Pandas there often is a new-to-you function that does (almost) exactly what you want.

## Summary

We have seen that

* You can access the rows of a Pandas dataframe either by position(s) or by label(s).
* Label access uses an index, making it fast.
* A Pandas index is a kind of list with fast element search. (It is not mathematical-set-like.)
* Indexes can (and should) be named. They can be multi-level. They are easily set and reset.
* To join two dataframes, you first index the second dataframe, then do the join.
* The ``groupby(...)' and '.sort_values(...)`` methods are fast without using indexes.
* Rows can be deleted, among other ways, with the ``.drop`` method.